<!DOCTYPE html>
<html>
    <head>
        <title>@{{user}}'s Board - KanbanApp</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='K.ico') }}">
        <link href='https://fonts.googleapis.com/css?family=Rammetto One' rel='stylesheet'>
	      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" >
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        <style>
          body{
              padding: 20px;
              /*background-image: url("/static/board_back.png");*/
              background-color: black;
          }
          #all{
            color: black;
          }
          .card-title{
            font-family: 'Montserrat';
          }
      </style>
    </head>
    
    <body>
      <label id="hide" style="display:none ;">{{user}}</label>
      <!--script type="text/javascript" src="{{ url_for('static', filename='allhome.js') }}"></script-->
      <script type="text/javascript">
        var user  = document.getElementById('hide');
        uname = user.innerHTML;
        function reply_id(clicked_id)
        {
          let dl = "deleteList/";
          let res = dl.concat(clicked_id);
          location.href = res;
        }
      </script>

        <nav style="border-radius: 12px;border: 2px solid gold;" class="navbar fixed-top navbar-expand-lg bg-light">
          <div class="container-fluid ">
          <a class="navbar-brand" style="font-family:'Carter One'; font-size: larger;" href="/{{user}}/board">KanbanApp</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/{{user}}/board/createList" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-file-plus d-flex justify-content-center mx-auto"></i><strong style="color:blue ;">New List</strong></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/summary"><i class="bi bi-graph-up-arrow d-flex justify-content-center mx-auto"></i><strong style="color:blue ;">Summary</strong></a>
              </li>	
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/{{user}}/logout"><i class="bi bi-box-arrow-right d-flex justify-content-center mx-auto"></i><strong style="color:blue ;">Logout</strong></a>
            </li>		
            </ul>		  
          </div>
          </div>
        </nav>
      
        <br><br>

        {% if length_lists==0 %}
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--New List-->
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New List</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post" action="/{{user}}/board/createList">
                  <strong>List Name: </strong><br>&emsp13;<input name="listname" style="padding:4px ;" type="text" required><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
              </form>
              </div>
            </div>
          </div>
        </div>
          <h3 style="color:white;padding: 200px;cursor: pointer;"><a class="nav-link active" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"><i class="bi bi-file-plus d-flex justify-content-center mx-auto" ></i><strong style="font-family: Montserrat;">&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;&emsp13;No Lists to display, Add a List Now!!</strong></h3></a>
          {% else %}
        <div class="container-fluid text-center" >
          <div class="container-fluid text-center">
              <div class="row row-cols-1 row-cols-md-5 g-4">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                {% for i in dic%}
                       <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--New List-->
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="/{{user}}/board/createList">
                                  <strong>List Name: </strong><br>&emsp13;<input name="listname" style="padding:4px ;" type="text" required><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                              </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal1{{i.list_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--Rename List-->
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Rename List</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="/{{user}}/board/renameList/{{i.list_id}}">
                                  <strong>New Name: </strong>&emsp13;<input name="newlistname" style="padding:4px ;" type="text" required><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Rename</button>
                              </form>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalc{{i.list_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--New Card-->
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New Card</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <form method="post" action="/{{user}}/board/createCard/{{i.list_id}}">
                                  <b>Card Title:</b><br><input name="cardtitle" style="padding:4px ;" type="text" required><br>
                                  <b>Card Content:</b><br>
                                  <textarea name="cardcontent" style="padding:4px ;" rows="3" cols="40" required></textarea><br>
                                  <b>Deadline:</b><br>
                                  <input type="date" name="deadlinedt" required><br>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Create</button>
                              </form>
                              </div>
                            </div>
                          </div>
                        </div>

                        
                <div class="col">
                  <div class="card" style="border: 2px solid whitesmoke;">
                    <img src="{{url_for('static',filename='card_pic.png')}}" class="card-img-top" alt="...">
                    <div class="card-body" id="all" name="{{i.list_id}}" listid="{{i.list_id}}">
                      <!--<h5 class="card-title" id="listname">{{i.listname}}</h5>-->
                      <div class="dropdown">
                      
                        <button class="btn btn-secondary dropdown-toggle text-wrap col-12" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="white-space:normal !important; word-wrap:break-word; ">
                          {{i.listname | title}}
                        </button>
                        <hr>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal1{{i.list_id}}" style="cursor:pointer ;" id="{{i.list_id}}">Rename</a></li>
                          <li><a class="dropdown-item" href="#" id="{{i.list_id}}" onClick="reply_id(this.id)">Delete</a></li>
                        </ul>
                      </div>
                    </div>
                    {% for y in dic[i] %}
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalctrn{{y.card_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><!--Change Card Title-->
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Card Name Update</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form method="post" action="/{{user}}/board/renameCard/{{y.card_id}}">
                              <strong>New Name: </strong>&emsp13;<input name="newcardname" style="padding:4px ;" type="text" required><br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Rename</button>
                          </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card border-dark mb-3" style="max-width: 18rem;">
                      {% if y.iscomplete==0 %}
                      <div class="card-header"><strong><label style="color:orange ;background-color: black; border-radius: 2px;user-select:none ;">&emsp13;{{y.card_title}}&emsp13;</label></strong>&emsp13;
                      {% else %}
                      <div class="card-header"><strong><label style="color:green ;background-color: black; border-radius: 2px;"">&emsp13;{{y.card_title}}&emsp13;</label></strong>&emsp13;
                      {% endif %}
                        <i class="dropdown  bi bi-three-dots" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalctrn{{y.card_id}}" style="cursor:pointer ;" id="{{y.card_id}}">Change Title</a></li>
                            <li><a class="dropdown-item" href="#">Change Title</a></li>
                            <li><a class="dropdown-item" href="#">Change Content</a></li>
                            {% if y.iscomplete==0 %}
                            <li><a class="dropdown-item" href="/{{user}}/board/markAsComplete/{{y.card_id}}">Mark as Complete</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="/{{user}}/board/markAsIncomplete/{{y.card_id}}">Mark as Incomplete</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="/{{user}}/board/deleteCard/{{y.card_id}}">Delete</a></li>
                          </ul>
                      </div>
                      <div class="card-body text-dark">
                        <!--h5 class="card-title">Dark card title</h5-->
                        <p class="card-text">{{y.card_content}}</p>
                      </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <a class="nav-link active" aria-current="page" href="/{{user}}/board/createCard/{{i.list_id}}" data-bs-toggle="modal" data-bs-target="#exampleModalc{{i.list_id}}"><!--i class="bi bi-file-plus d-flex justify-content-center mx-auto"></i--><!--strong style="color:blue ;"--><i class="bi bi-plus-circle e-plus d-flex justify-content-center mx-auto" style="color:blue ;"></i>New Card<!--/strong--></a>
                    <!--div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div-->
                </div>

          </div>
  
        {% endfor %}
        {% endif %}
        </div>
          </div>
          </div>
      </body>
</html>